@using ELEXStore.Common
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Payment Successful</h2>
                    <h2>Your payment has been processed!Thank you for your purchase. You will receive your Products soon!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

